<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/header")%>
   
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/5501/5501375.png" type="image/png">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main">
    <%- include("partials/nav")%>
        <div class="content">
            <div class="text-box">
                <h1>Welcome to ExpenseTrackr</h1>
                <p><strong>Manage your finances with ease and clarity.</strong><br>
                Track your spending, set budgets, and stay in control of your financial future.</p>
              
                <h2>Why Choose Us?</h2>
                <ul id="list">
                  <li><strong>Simple & Intuitive:</strong> Easily log your expenses and track your financial habits with a user-friendly interface.</li>
                  <li><strong>Stay Organized:</strong> Categorize your expenses and view detailed reports to understand where your money goes.</li>
                  <li><strong>Set Budgets:</strong> Define your budgets and receive alerts when you're nearing the limit.</li>
                  <li><strong>Security First:</strong> Your data is encrypted and securely stored, ensuring complete privacy.</li>
                </ul>
              
                           
                <h3>Get Started Now!</h3>
                <p>Join thousands of users who are already managing their finances efficiently.<br>
                <strong>Sign up today</strong> and take the first step toward a better financial future.</p>
                <div class="getstarted">

                  <a href="/user/signup">Get Started</a>
                </div>
            
              </div>
          <div class="image-box">
            <img src="/images/img1.png" alt="">
          </div>

    </div>
    <%- include("partials/footer")%>

  </body>
</html>


