<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/5501/5501375.png" type="image/png" />
    <link rel="stylesheet" href="/stylesheets/UserSignin.css" />
    <%- include("partials/header")%>
</head>
<body>
 <div class="main">
    <%- include("partials/UserNav")%>
    <div class="content">
        <div class="text-box">
            <h1> Reset Password</h1>
            <form action="/user/reset-password" method ="post">
                <input type="text" name="old-password" placeholder=" Enter Old Password">
                <input type="password" name="new-password" placeholder=" Enter New Password">
                <input type="password" name="confirm-password" placeholder="Confirm New Password">
                <button type="submit">Reset Password</button>        
            </form>
        </div>
    </div>
</div>
    <%- include("partials/FlashMessage")%>
    <%- include("partials/footer")%>
    
</body>
</html>