
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/5501/5501375.png" type="image/png"/>
    <link rel="stylesheet" href="/stylesheets/UserSignin.css" />
    <%- include("partials/header")%>

  </head>
  <body>
    <div class="main">
        <%- include("partials/nav")%>
    <div class="content">
    
        <div class="text-box">
        <h1>Create An Account</h1>
        <form action="/user/signup" method="post">
          <input type="text" name="username" placeholder="Enter Username" />
          <input type="email" name="email" placeholder="Enter E-mail Address" />
          <input type="password" name="password" placeholder="********" />
          <button>Sign Up </button>
      </form>
      <a href="/user/auth/google">Signup with Google</a>
      <p>Already have an Account ? <a class="text-blue-400" href="/user/signin">Sign In</a></p>
    </div>
    
    </div>
   <%- include("partials/footer")%>
  </body>
</html>
